{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jasmine": true,
    "protractor": true
  },

  "extends": "eslint:recommended",


  "parserOptio  ns": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },


  "rules": {
    "indent": [2, "tab"],
    "linebreak-style": [2, "unix"],
    "quotes": [2, "single"],
    "semi": [2, "always"],
  }
}